ul{
    padding: 0px;    
}

.header, .footer{
    background-color: grey; 
    height: 80px;  
}

.menu-list, .footer__list{
    width: 1220px;
    height: 80px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    align-items: center;      
}

.conteiner{
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu-list__link{
    text-decoration: none;
    color: violet;    
}
.main-info{
    display: flex;

}
.main-name{
    margin-left: 100px;
}
.main-name h1{ 
    color: violet;
    font-style:normal;
    font-size: 36px;
}
.main-name p{
    font-size: 24px;
}
.main{
    background-color: gainsboro;
}
.main-centre{
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-about, .main-contacts, .main-skills{
    width: 350px;
}
body{
    font-size: 20px;
}

.main-projects{
    margin: 0 auto;
   width: 350px;
}

.main-projects__title {
    text-align: center;
}
.footer__list{   
    margin: 0;
}
a{
    text-decoration:none;
    color: violet;
}
